/************************************************************************
	GTD Trello (Popup)
*************************************************************************/
/* GTD Icon */
.gtd-trello .gtd-icon { right: 20px; top: -2px; }
.gtd-trello .gtd-icon::before { content: "▟"; }

/* GTD Popup */
.gtd-trello .gtd-popup { background: #fff; border-radius: 3px; border: 1px solid #d6dadc; border-bottom-color: #c4c9cc; box-shadow: 0 1px 6px rgba(0,0,0,.15); overflow: hidden; position: absolute; top: 50px; right: -100%;  width: 300px; z-index: 70; display: none;}
.gtd-trello .gtd-popup .gtd-layouts ul li * { margin: 0; padding: 0; box-sizing: border-box; }
.gtd-trello .gtd-popup .gtd-layouts ul li { display: block; margin: 0 -10px; }
.gtd-trello .gtd-popup .gtd-layouts ul li:hover { background: #298fca; }
.gtd-trello .gtd-popup .gtd-layouts ul li:hover label { color: white; }

.gtd-trello .gtd-popup .gtd-layouts ul li input { display: inline-block; position: relative; left: 7px; top: 1px; width: 35px; cursor: pointer; background: yellow; }
.gtd-trello .gtd-popup .gtd-layouts ul li label { display: inline-block; width: 100%; cursor: pointer; padding: 6px 10px 6px 3px; }
